#box{background: #efefef}
#box ul>li>img{width:96%}
#box>div>ul>li:hover{
    box-shadow:0px 1px 1px 1px #999999
}
.lb2>li{border:1px solid #e1e1e1;
    border-radius: 50%}
.bt{padding:20px;opacity:0.5}
.last-ch{width:150px}
.gg{position: relative}
.pp{width:259px;height: 40px;
    background:rgba(0,0,0,0.5);
    position:absolute;
    top:150px;left:5px;
    line-height:40px;}
.pj>li{width:20%}
#dw{
    position:fixed;
    top: 650px;
    right: 20px;
    z-index: 10;
}